.app {
  min-height: 100vh;
  transition: 0.3s;
}

.app.dark {
  background: #111827;
  color: #f9fafb;
  min-height: 100vh;
}

.app.dark input {
  background: #1f2937;
  color: white;
  border-color: #4b5563;
}

.app.dark li {
  background: #1f2937;
  color: white;
}

.app.dark p {
  background: #1f2937;
  color: white;
}